.popup__input-error {
    width: 358px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: #f00;
    margin-left: 35px;
    margin-top: 5px;
    display: none;
}

@media screen and (max-width: 767px) {
    .popup__input-error {
        margin-left: 22px;
        width: 238px;
    }
}