.popup__save-button_inactive {
    background-color: #fff;
    border: black solid 1px;
    color: black;
    opacity: .2;
    pointer-events: none;
}

.popup__save-button_inactive:hover {
    opacity: .2;
}